.outerBox {
  @apply w-4/5 mx-auto my-3;
}
.Template {
  height: 360px;
  width: 265px;
}
.showcase {
  background-image: url('../../assets/Images/Seoul template 2x.png');
  background-repeat: no-repeat;
  background-position: 40% 40%;
  background-size: cover;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  @apply relative;
}
.heart {
  @apply absolute top-2 right-1;
}

.showcase1 {
  background-image: url('../../assets/Images/London template 2x.png');
  background-repeat: no-repeat;
  background-position: 40% 40%;
  background-size: cover;
  height: 360px;
  width: 265px;
}

@media only screen and (max-width: 600px) {
  .Template {
    height: 286px;
    width: 165px;
  }
  .showcase {
    height: 286px;
    width: 165px;
  }
  .showcase1 {
    height: 286px;
    width: 165px;
  }

  .overlay {
    height: 286px;
    width: 165px;
  }
}
