.outerBox {
  @apply w-4/5 mx-auto my-3;
}

.Template {
  height: 360px;
  width: 265px;
}
.textCountry {
  @apply text-[20px] text-white font-bold font-sans;
}
.showcase {
  background-image: url('../../assets/Images/Seoul template 2x.png');
  background-repeat: no-repeat;
  background-position: 40% 40%;
  background-size: cover;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color:rgb(0, 0, 0,0.4);
  background-blend-mode: multiply;
  @apply relative;
}
.showcase1 {
  background-image: url('../../assets/Images/London template 2x.png');
  background-repeat: no-repeat;
  background-position: 40% 40%;
  background-size: cover;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color:rgb(0, 0, 0,0.4);
  background-blend-mode: multiply;
  @apply relative;
}
.showcase2 {
  background-image: url('../../assets/Images/NYC template 2x.png');
  background-repeat: no-repeat;
  background-position: 40% 40%;
  background-size: cover;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color:rgb(0, 0, 0,0.4);
  background-blend-mode: multiply;
  @apply relative;
}
.showcase3 {
  background-image: url('../../assets/Images/LA template 2x.png');
  background-repeat: no-repeat;
  background-position: 40% 40%;
  background-size: cover;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color:rgb(0, 0, 0,0.4);
  background-blend-mode: multiply;
  @apply relative;
}
.showcase4 {
  background-image: url('../../assets/Images/Sydney 2x.png');
  background-repeat: no-repeat;
  background-position: 40% 40%;
  background-size: cover;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color:rgb(0, 0, 0,0.4);
  background-blend-mode: multiply;
  @apply relative;
}
.showcase5 {
  background-image: url('../../assets/Images/Bangkok 2x.png');
  background-repeat: no-repeat;
  background-position: 40% 40%;
  background-size: cover;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color:rgb(0, 0, 0,0.4);
  background-blend-mode: multiply;
  @apply relative;
}
.showcase6 {
  background-image: url('../../assets/Images/Brazil 2x.png');
  background-repeat: no-repeat;
  background-position: 40% 40%;
  background-size: cover;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color:rgb(0, 0, 0,0.4);
  background-blend-mode: multiply;
  @apply relative;
}
.heart {
  @apply absolute top-2 right-1;
}
@media only screen and (max-width:600px){
  .myChecklist{
    display: none;
}
}