.outerBox {
  width: 1120px;
  height: 320px;
  margin: 0 auto;
  background-color: #c4c4c4;
}
.innerBox {
  @apply py-5 my-2;
}
.outerTabs {
  @apply border-b border-gray-800 space-y-20 mb-3 w-full;
}
.innerTabs {
  @apply w-[70%] h-6 mx-auto mb-3;
}

.tabs {
  @apply flex justify-around items-center;
}
.formUp {
  @apply grid gap-3 grid-cols-1 lg:grid-cols-2;
}
.formDown {
  @apply grid gap-3 grid-cols-2 lg:grid-cols-4 mt-3;
}
.buttonContainer {
  @apply flex justify-end items-center mt-3 buttonForm;
}

h3 {
  padding: 0.5rem 0;
}
a {
  @apply hover:font-bold;
}
.containerHomepage {
  @apply rounded-xl border-2 border-[#0F7173] m-5 lg:mx-[5.5rem];
}
.homepageInnerTabs {
  @apply bg-[#117E81] rounded-t text-white;
}
.homepageTabs {
  @apply flex  justify-around items-center;
}
.links {
  @apply hover:border-gray-800 border-b-2 my-3;
}
.formUp {
  @apply grid gap-3 grid-cols-1 lg:grid-cols-2;
}
.formDown {
  @apply grid gap-3 grid-cols-2 lg:grid-cols-4 mt-3;
}
.homepageInput {
  @apply bg-gray-50 border border-gray-300  text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5;
}
.nextInput {
  @apply bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 text-primary ;
}
.buttonContainer {
  @apply flex justify-end items-center mt-3 buttonForm;
}
.upcomingDashboard {
  @apply m-5 lg:mx-[5.5rem];
}
.cardContainer {
  @apply flex bg-white border shadow-lg md:flex-row md:max-w-md h-auto;
}
.cardContainer2 {
  @apply flex bg-white border shadow-md md:flex-row md:max-w-md h-auto;
}
.cardImage {
  @apply object-cover mr-3 w-52  md:h-auto md:w-[45%];
}
.img {
  @apply mr-2;
}
.cardText {
  @apply flex  flex-col justify-between pl-4 py-3;
}
/* .text {
  margin:0;
}  */
.icons {
  @apply flex items-center pt-1;
}

@media only screen and (min-width: 768px) {
  
  .upcomimgText {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .bottomImg {
    display: none;
  }
  .buttonForm{
    display: block;
  }
  .cardContainer {
    @apply flex flex-row w-full;
  }
}
@media screen and (max-width: 600px) {
  .cardContainer{
   @apply flex flex-col text-xs h-80;

  }
  .cardText{
    @apply grid grid-cols-2;
  }
  .cardImage{
    @apply w-full h-1/2;
  }
  .cardContainer2 {
    
    display: none;
  }
  .mobile{
    width:20px
  }
}
